<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-default" xattr-theme="bar-default" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Documentações</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <a href="https://www.figma.com/file/qI73Caa5McFyWKMDUerNhV/Krypton?type=design&amp;node-id=0-1&amp;mode=design" class="color-default col-md-12 col-lg-12 col-sm-12 col-xs-12" style="display:inline; margin: 10px;" xattr-fullsize="display:inline;" data-replace="true" text-theme="color-default" data-component="crn-anchor" id="crn-anchor-135454">/krypton</a><a href="https://www.figma.com/file/wObcTovsLNpDrYI9c4PjmV/Material-Round-Theme?type=design&amp;node-id=553-2&amp;mode=design" class="color-default col-md-12 col-lg-12 col-sm-12 col-xs-12" style="display:inline; margin: 10px;" xattr-fullsize="display:inline;" data-replace="true" text-theme="color-default" data-component="crn-anchor" id="crn-anchor-90241">/Material Round</a></ion-content>
</ion-view>